*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    /*touch-action: none !important;*/
}
body{
  max-width:750px;
  margin:0 auto;
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    background: #f5f5f5;
}
a{text-decoration: none}
a:hover{text-decoration: none}
a:active{text-decoration: none}
ul {
    list-style: none;
}
.clear-fix:after,.clear-fix:before {
  content: '';
  display: table;

}
.clear-fix:after{
  clear: both;
}

@media print {
    .not-print {
        opacity: 0
    }
}

.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mint-header,.mint-button--primary {
  background: #3ebce5;
}

.mint-popup-top {
  width: 100%;
  /*top: 2.1rem;*/
}

.mint-header{
  font-size: 0.8rem;
  height: 2.2rem;
}
.mt-progress-progress {
  border-radius: 0.5rem;
}
.mt-progress-runway {
  border-radius: 0.5rem;
}
.mint-toast, .is-placemiddle {
  z-index: 3000;
}

@font-face {
    font-family: "PingFangRegular";
    src: url("/static/font/PingFang/PingFangRegular.woff2") format("woff2"),
         url("/static/font/PingFang/PingFangRegular.woff") format("woff"),
         url("/static/font/PingFang/PingFangRegular.ttf") format("truetype"),
         url("/static/font/PingFang/PingFangRegular.eot") format("embedded-opentype"),
         url("/static/font/PingFang/PingFangRegular.svg") format("svg");
         font-weight: normal;
         font-style: normal;
  }
  @font-face {
      font-family: "PingFangMedium";
      src: url("/static/font/PingFang/PingFangMedium.woff2") format("woff2"),
           url("/static/font/PingFang/PingFangMedium.woff") format("woff"),
           url("/static/font/PingFang/PingFangMedium.ttf") format("truetype"),
           url("/static/font/PingFang/PingFangMedium.eot") format("embedded-opentype"),
           url("/static/font/PingFang/PingFangMedium.svg") format("svg");
           font-weight: normal;
           font-style: normal;
    }